/* park disneyland */

.img-adventureland {
  background-image: url('../../assets/images/univers/park/bkg-aventureland.webp');
  background-position: top center;
  background-size: cover;
}

.img-discoveryland {
  background-image: url('../../assets/images/univers/park/bkg-discoveryland.webp');
  background-position: top center;
  background-size: cover;
}

.img-fantasyland {
  background-image: url('../../assets/images/univers/park/bkg-fantasyland.webp');
  background-position: top center;
  background-size: cover;
}

.img-frontierland {
  background-image: url('../../assets/images/univers/park/bkg-frontierland.webp');
  background-position: top center;
  background-size: cover;
}

.img-main-street-usa {
  background-image: url('../../assets/images/univers/park/bkg-main-street-usa.webp');
  background-position: top center;
  background-size: cover;
}

.logo-adventureland {
  background-image: url('../../assets/images/univers/park/logo-adventureland.png');
  background-size: 80%;
  background-position: center center;
}

.logo-discoveryland {
  background-image: url('../../assets/images/univers/park/logo-discoveryland.png');
  background-size: 80%;
  background-position: center center;
}

.logo-fantasyland {
  background-image: url('../../assets/images/univers/park/logo-fantasyland.png');
  background-size: 80%;
  background-position: center center;
}

.logo-frontierland {
  background-image: url('../../assets/images/univers/park/logo-frontierland.png');
  background-size: 80%;
  background-position: center center;
}

.logo-main-street-usa {
  background-image: url('../../assets/images/univers/park/logo-main-street-usa.png');
  background-size: 80%;
  background-position: center center;
}

/* walt disney studio */

.img-toon-studio {
  background-image: url('../../assets/images/univers/studio/bkg-toon-studio.webp');
  background-position: top center;
  background-size: cover;
}

.img-avengers-campus {
  background-image: url('../../assets/images/univers/studio/bkg-avengers-campus.webp');
  background-position: top center;
  background-size: cover;
}

.img-worlds-of-pixar {
  background-image: url('../../assets/images/univers/studio/bkg-world-of-Pixar.webp');
  background-position: top center;
  background-size: cover;
}

.img-front-lot {
  background-image: url('../../assets//images/univers/studio/bkg-front-lot.webp');
  background-position: center center;
  background-size: cover;
}

.img-production-courtyard {
  background-image: url('../../assets/images/univers/studio/bkg-production-courtyard.webp');
  background-position: top center;
  background-size: cover;
}

.logo-avengers-campus {
  background-image: url('../../assets/images/univers/studio/logo-avengers-campus.png');
  background-size: 120%;
  background-position: center center;
}

.logo-front-lot {
  background-image: url('../../assets/images/univers/studio/logo-front-lot.png');
  background-size: 80%;
  background-position: center center;
}

.logo-production-courtyard {
  background-image: url('../../assets/images/univers/studio/logo-production-courtyard.png');
  background-size: 80%;
  background-position: center center;
}

.logo-toon-studio {
  background-image: url('../../assets/images/univers/studio/logo-toon-studio.png');
  background-size: 80%;
  background-position: center center;
}

.logo-worlds-of-pixar {
  background-image: url('../../assets/images/univers/studio/logo-worlds-of-pixar.png');
  background-size: 100%;
  background-position: center center;
}