.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

.categories .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.categories .item {
    display: block;
    width: 180px;
    height: auto;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: all 0.1s;
}

.categories .item .logo {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    overflow: hidden;
}

.categories .item .logo .img {
    width: 100%;
    height: 100%;
}
.item:hover .logo .img  {
    transform: scale(1.2);
}

.categories .item .park-name {
    font-size: 0.8rem;
    font-weight: normal;
}

.categories .item .univers-name {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.categories .item .name {
    font-size: 1rem;
    font-weight: normal;
}