.header {
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  margin: 75px 0 0 0;
}

.header .block {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.header .logo {
  display: block;
  text-decoration: none;
}

.header .logo svg {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
}

.header .logo-white {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}  

.header .title {
  display: block;
  margin: 20px 0;
  padding: 0 0 0 40px;
  font-family: 'InspireTWDC','Helvetica','Arial','sans-serif';
  font-weight: 900;
  color: #FFF;
  text-decoration: none;
  text-align: left;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header .title .item1 {
  font-size: clamp(1.4rem, 8vw, 2.5rem);
  line-height: 1;
}

.header .title .item2 {
  font-size: clamp(1.8rem, 15vw, 8rem);
  line-height: 1;
  letter-spacing: -2px;
  margin: -5px 0 0 0;
}

.header .title .item3 {
  font-size: clamp(1.1rem, 6vw, 2.0rem);
  line-height: 1;
}

.header .title:hover {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.header .title .paris {
  position: absolute;
  bottom: 0px;
  right: -20px;
  z-index: 1;
  font-family: 'LibreFranklin', sans-serif;
  font-weight: bold;
  font-size: clamp(0.5rem, 1.75vw, 2rem);
  letter-spacing: 22px;
  line-height: 1;
}

.header .baseline {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  color: #FFF;
  margin: 10px 0 0 30px;
  padding: 0 20px;
  box-sizing: border-box;
}

