.header {
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  margin: 60px 0 0 0;
}

.block-title {
  position: relative;
}

.header .title {
  display: block;
  float: left;
  font-family: 'InspireTWDC','Helvetica','Arial','sans-serif';
  font-weight: 900;
  color: #FFF;
  text-decoration: none;
  text-align: left;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.header .title .item1,
.header .title .item2,
.header .title .item3 {
  float: left;
  clear: both;
}
.header .title .item1 {
  font-size: clamp(1.4rem, 8vw, 2.5rem);
  line-height: 1;
}

.header .title .item2 {
  font-size: clamp(1.8rem, 15vw, 5rem);
  line-height: 1;
  letter-spacing: -2px;
  vertical-align:bottom;
}

.block-title .item2 .mickey {
  background-image: url('../../images/others/mickey_v5.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  float: left;
  width: 50px;
  height: 70px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

}

.header .title .item3 {
  font-size: clamp(1.1rem, 6vw, 2.0rem);
  font-weight: 200;
  line-height: 1;
}

.header .title:hover {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.header .title .paris {
  position: absolute;
  bottom: 0px;
  right: -20px;
  z-index: 1;
  font-family: 'LibreFranklin', sans-serif;
  font-weight: bold;
  font-size: clamp(0.5rem, 1.75vw, 2rem);
  letter-spacing: 22px;
  line-height: 1;
}

.header .baseline {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  color: #FFF;
  margin: 10px 0 0 30px;
  padding: 0 20px;
  box-sizing: border-box;
}

.search {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-family: 'InspireTWDC', 'Helvetica', 'Arial', 'sans-serif';
  text-decoration: none;
}

.search:hover .fa-search {
  background: #252633;
  color: #FFF;
}

.search div {
  float: left;
  margin: 5px 10px 0 0;
  color: #FFF;
}

.search input[type="text"] {
  width: 250px;
  margin: 0 10px;
  padding: 10px;
  font-size: 1rem;
  border: none;
}

.search .fa-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #252633;
}

