body {
  background: #161616;
  padding: 0;
}

.main {
  position: relative;
  background: #FFF;
  width: 100%;
  margin: 0 auto;
}

.home .search,
.parks .search,
.univers .search {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-family: 'InspireTWDC', 'Helvetica', 'Arial', 'sans-serif';
  text-decoration: none;
}

.finder .search {
  position: relative;
  padding: 20px 0;
}

.finder .search button {
  background: none;
  border: none;
}

.finder .search label {
  color: #FFF;
}

.search:hover .fa-search {
  background: #252633;
  color: #FFF;
}

.search div {
  float: left;
  margin: 5px 10px 0 0;
  color: #FFF;
}

.search input[type="text"] {
  width: 250px;
  margin: 0 10px;
  padding: 10px;
  font-size: 1rem;
  border: none;
}

.search .fa-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #252633;
}

.home,
.parks,
.univers,
.attraction,
.finder {
  background-color: #F7F7F7;
  font-weight: 200;
  float: left;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.link-park {
  text-align: center;
}

.link-park h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
}

.link-park p {
  font-size: 1rem;
  margin: 0;
}

.univers {
  width: 100%;
}

.infos {
  float: left;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  box-sizing: border-box;
  font-family: 'InspireTWDC', 'Helvetica', 'Arial', 'sans-serif';
}

.col-logo {
  float: left;
  width: 100%;
  margin: 0;
}

.col-logo a {
  color: #000;
  text-decoration: none;
}

.col-logo .logo,
.col-logo .back {
  width: 100px;
  height: 100px;
}

.col-logo .logo {
  display: block;
  position: relative;
  background-color: #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 5rem;
  line-height: 1.4;
  color: #000;
  margin: 0 0 10px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.col-logo .logo:hover {
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.col-logo .logo:hover .back {
  display: block;
}

.col-logo .back {
  background: rgb(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  font-size: 50px;
  line-height: 100px;
  color: #FFF;
  text-align: center;
  display: none;
}

.col-infos {
  float: left;
  width: 300px;
  margin: 0 60px 30px 60px;
  text-align: right;
}

.col-infos .name {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 20px 0;
}

.col-infos .list-infos {
  float: left;
  margin: 0 30px 30px 0;
  padding: 0;
}

.col-infos .list {
  float: left;
  margin: 0;
  padding: 0;
}

.col-infos .list li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.col-infos ul li div {
  font-size: 1.2rem;
}

.col-infos ul li ul {
  margin: 0;
  padding: 0;
}

.col-infos ul li i {
  font-style: normal;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
}

.col-infos .note {
  font-size: 0.8rem;
}

.col-infos .list-attraction {
  margin: 20px 0 0 0;
}

.col-infos .list-attraction .item {
  margin: 5px 0;
  font-size: 0.9rem;
}
.description {
  float: left;
  max-width: 600px;
  margin: 105px 0 30px 0;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}

.description h3 {
  margin: 0 0 20px 0;
}

.icons-disneylandparis {
  font-family: dlp_pep_font-webfont;
}

.icon-walt-disney-studios::before {
  content: '\e415';
}

.icon-park-disneyland::before {
  content: '\e414';
  ;
}