.home, .parks, .univers, .attraction, .finder {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.link-park {
  text-align: center;
}

.link-park h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
}

.link-park p {
  font-size: 1rem;
  margin: 0;
}

.univers {
  width: 100%;
}
.infos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  float: left;
  margin: 0 30px 30px 0;
}

.infos .col-left .logo, .infos .col-left .back {
  width: 150px;
  height: 150px;
}
.infos .col-left .logo {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin: 0 0 20px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.infos .col-left .logo:hover {
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.infos .col-left .logo:hover .back {
  display: block;
}

.infos .col-left .back {
  background: rgb(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  font-size: 60px;
  line-height: 150px;
  color: #FFF;
  text-align: center;
  display: none;
}

.col-infos {
  float: left;
  width: 270px;
  margin: 0 30px 30px 0;
}

.col-infos .name {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.col-infos .list-infos {
  float: left;
  margin: 0 30px 30px 0;
  padding: 0;
}

.col-infos ul {
  margin: 0;
  padding: 0;
}

.col-infos ul li {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.col-infos ul li div {
  font-size: 1.2rem;
}

.col-infos ul li ul {
  margin: 0;
  padding: 0 0 0 40px;
}

.col-infos ul li ul li {
  font-size: 0.9rem;
  font-style: italic;
  list-style: outside disc;
}

.col-infos ul li i {
  font-style: normal;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

.description {
  float: left;
  max-width: 500px;
  margin: 0 0 30px 0;
  font-size: 1.2rem;
  line-height: 2;
}

