@keyframes zoom {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

/* **************************************************************** */

@media screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer ul {
    margin: 0;
  }
  
}

@media screen and (min-width: 601px) {
  .header .logo {
    width: 150px;
  }
  
  .footer {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
  }
  .footer ul {
    margin: 0 20px;
  }

  .bkg-default-header {
    background-position: center top;
  }

  .header {
    height: clamp(300px, 50vh, 500px);
  }

}

@media screen and (min-width: 801px) {
  .bkg-default-header {
    background-position: center top;
  }

  .header {
    height: clamp(20px, 80vh, 400px);
  }

}

@media screen and (min-width: 1000px) {
  .bkg-default-header {
    background-position: center -200px;
    background-repeat: no-repeat;
  }

}

