.bkg-nav-park {
  background: #1833b4;
}

.bkg-nav-studio {
  background:#dda44e;
}

.bkg-nav-park .link-1,
.bkg-nav-park .link-2 {
  background: #6077eb;
}

.bkg-nav-studio .link-1,
.bkg-nav-studio .link-2 {
  background:#f7c781;
}

.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
}

.slider {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  background: rgb(0,0,0,0.3);
  padding: 5px 10px;
  font-size: 1.6rem;
  line-height: 1;
  color: #FFF;
  border-radius: 5px;
}

.slider:hover {
  background: #FFF;
  color: #000;
}

.navigation .logo {
  display: block;
  position: absolute;
  top: 12px;
  left: 80px;
  z-index: 1;
  width: 150px;
  font-family: 'DisneyScript', sans-serif;
  font-size: 2rem;
  color: #FFF;
  text-decoration: none;
}

.navigation .logo svg {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
}

.navigation .logo-white {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}  

.slidedown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  transition: all 1s;
}

.nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.nav-childs {
  position: relative;
}

.nav-parent .link,
.nav-childs .link {
  font-family: 'InspireTWDC', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.1rem;
  text-decoration: none;
  text-wrap: wrap;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(0,0,0,0.2);
  border-radius: 5px;
}

.nav-parent {
  position: relative;
  margin: 5px 10px;
}

.nav-parent .link {
  color: #FFF;
}

.nav-childs {
  background: none;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 5px;
}

.nav-childs .link {
  margin: 10px 0 0 0;
}

.nav-parent .link:hover,
.nav-childs .link:hover {
  background: #FFF;
  color: #000;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.nav-admin .nav-parent {
  float: left;
  clear: both;
  margin: 0 0 5px 0;
}

.nav-admin .nav-parent .link {
  display: block;
  float: left;
  clear: both;
  background: #888;
}

