.bkg-nav-park {
  background: #1833b4;
}

.bkg-nav-studio {
  background:#ddac61;
}

.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
}

.logo {
  display: block;
  width: 150px;
  margin: 10px 50px 0 0;
  text-decoration: none;
}

.logo svg {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
}

.logo-white {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}  

.nav-parent .link,
.nav-childs .link {
  font-family: 'InspireTWDC', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.1rem;
  text-decoration: none;
  text-wrap: wrap;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(0,0,0,0.2);
  border-radius: 5px;
}

.nav-parent {
  position: relative;
  margin: 5px 10px;
}

.nav-parent .link {
  color: #FFF;
}

.nav-parent .link:hover {
  background: #FFF;
  color: #000;
}

.nav-childs {
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 5px 0 0 0;
}

.nav-childs .link {
  background: #999;
  color: #FFF;
  margin: 0 0 5px 0;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.nav-home {
  background: none;
  font-size: 1.5rem;
  line-height: 1;
  margin: -5px 0 0 0;
  box-shadow: none;
}

.navigation .slider {
  padding: 5px 10px;
  font-size: 1.2rem;
  line-height: 1;
  color: #FFF;
  border-radius: 5px;
  border: solid 1px #FFF;
}

.navigation .slider:hover {
  background: #FFF;
  color: #000;
}

.slidedown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  transition: all 1s;
}

