/* ************************************************************************************** */
/* park disnelyland */

.img-park-park-disneyland {
	background-image: url('../../images/parks/bkg-park-disneyland-1.jpg');
	background-size: cover;
	background-position: center center;
}

.icon-park-disneyland {
	background-image: url('../../images/parks/logo-park-disneyland.jpg');
	background-size: 80%;
	background-position: center center;
}

/* ************************************************************************************** */
/* walt disney studio */

.img-park-walt-disney-studios {
	background-image: url('../../images/parks/bkg-walt-disney-studios-1.jpg');
	background-size: cover;
	background-position: center center;
}

.icon-walt-disney-studios {
	background-image: url('../../images/parks/logo-walt-disney-studios-v1.png');
	background-size: 80%;
	background-position: center center;
}