/* ***************************************************************************************************** */
/* icon */

.icons-disneylandparis {
    font-family: dlp_pep_font-webfont;
}

.icon-walt-disney-studios::before {
    font-size: 90px;
    line-height: 1.4;
    content: '\e415';
}

.icon-park-disneyland::before {
    font-size: 90px;
    line-height: 1.4;
    content: '\e414';
}

.icon-adventure-isle {
    background-image: url('../../images/attractions/park/adventure-isle/icon/adventure-Isle.jpg');
    background-size: cover;
}

.icon-alice-s-curious-labyrinth {
    background-image: url('../../images/attractions/park/alice-s-curious-labyrinth/icon/alice-s-curious-labyrinth.jpg');
    background-size: cover;
}

.icon-autopia {
    background-image: url('../../images/attractions/park/autopia/icon/autopia.jpg');
    background-size: cover;
}

.icon-big-thunder-mountain {
    background-image: url('../../images/attractions/park/big-thunder-mountain/icon/big-thunder-mountain.jpg');
    background-size: cover;
}

.icon-blanche-neige-et-les-sept-nains {
    background-image: url('../../images/attractions/park/blanche-neige-et-les-sept-nains/icon/blanche-neige-et-les-sept-nains.jpg');
    background-size: cover;
}

.icon-buzz-lightyear-last-blast {
    background-image: url('../../images/attractions/park/buzz-lightyear-last-blast/icon/buzz-lightyear-last-blast.webp');
    background-size: cover;
}

.icon-casy-jr-le-petit-train-du-cirque {
    background-image: url('../../images/attractions/park/casy-jr-le-petit-train-du-cirque/icon/casy-jr-le-petit-train-du-cirque.jpg');
    background-size: cover;
}

.icon-discovery-arcade-main-street-usa {
    background-image: url('../../images/attractions/park/discovery-arcade-main-street-usa/icon/discovery-arcade-main-street-usa.jpg');
    background-size: cover;
}

.icon-disneyland-railroad {
    background-image: url('../../images/attractions/park/disneyland-railroad/icon/disneyland-railroad.jpg');
    background-size: cover;
}

.icon-dumbo-the-flying-elephant {
    background-image: url('../../images/attractions/park/dumbo-the-flying-elephant/icon/dumbo-the-flying-elephant.jpg');
    background-size: cover;
}

.icon-frontierland-playground {
    background-image: url('../../images/attractions/park/frontierland-playground/icon/frontierland-playground.jpg');
    background-size: cover;
}

.icon-horse-drawn-streetcarts {
    background-image: url('../../images/attractions/park/horse-drawn-streetcarts/icon/horse-drawn-streetcarts.jpg');
    background-size: cover;
}

.icon-indiana-jones-et-le-temple-du-peril {
    background-image: url('../../images/attractions/park/indiana-jones-et-le-temple-du-peril/icon/indiana-jones-et-le-temple-du-peril.jpg');
    background-size: cover;
}

.icon-its-a-small-world {
    background-image: url('../../images/attractions/park/its-a-small-world/icon/its-a-small-world.jpg');
    background-size: cover;
}

.icon-la-cabane-des-robinson {
    background-image: url('../../images/attractions/park/la-cabane-des-robinson/icon/la-cabane-des-robinson.jpg');
    background-size: cover;
}

.icon-la-galerie-de-la-belle-au-bois-dormant {
    background-image: url('../../images/attractions/park/la-galerie-de-la-belle-au-bois-dormant/icon/la-galerie-de-la-belle-au-bois-dormant.jpg');
    background-size: cover;
}

.icon-la-plage-des-pirates {
    background-image: url('../../images/attractions/park/la-plage-des-pirates/icon/la-plage-des-pirates.jpg');
    background-size: cover;
}

.icon-la-taniere-du-dragon {
    background-image: url('../../images/attractions/park/la-taniere-du-dragon/icon/la-taniere-du-dragon.jpg');
    background-size: cover;
}

.icon-le-carrousel-de-lancelot {
    background-image: url('../../images/attractions/park/le-carrousel-de-lancelot/icon/le-carrousel-de-lancelot.jpg');
    background-size: cover;
}

.icon-le-chateau-de-la-belle-au-bois-dormant {
    background-image: url('../../images/attractions/park/le-chateau-de-la-belle-au-bois-dormant/icon/le-chateau-de-la-belle-au-bois-dormant.jpg');
    background-size: cover;
}

.icon-le-galion-des-pirates {
    background-image: url('../../images/attractions/park/le-galion-des-pirates/icon/le-galion-des-pirates.jpg');
    background-size: cover;
}

.icon-le-passage-enchante-d-aladdin {
    background-image: url('../../images/attractions/park/le-passage-enchante-d-aladdin/icon/le-passage-enchante-d-aladdin.jpg');
    background-size: cover;
}

.icon-le-pays-des-contes-de-fees {
    background-image: url('../../images/attractions/park/le-pays-des-contes-de-fees/icon/le-pays-des-contes-de-fees.jpg');
    background-size: cover;
}

.icon-les-jardins-feeriques-de-main-street-usa {
    background-image: url('../../images/attractions/park/les-jardins-feeriques-de-main-street-usa/icon/les-jardins-feeriques-de-main-street-usa.jpg');
    background-size: cover;
}

.icon-les-mysteres-du-nautilus {
    background-image: url('../../images/attractions/park/les-mysteres-du-nautilus/icon/les-mysteres-du-nautilus.jpg');
    background-size: cover;
}

.icon-les-voyages-de-pinocchio {
    background-image: url('../../images/attractions/park/les-voyages-de-pinocchio/icon/les-voyages-de-pinocchio.jpg');
    background-size: cover;
}

.icon-liberty-arcade {
    background-image: url('../../images/attractions/park/liberty-arcade/icon/liberty-arcade.jpg');
    background-size: cover;
}

.icon-mad-hatter-s-tea-cups {
    background-image: url('../../images/attractions/park/mad-hatter-s-tea-cups/icon/mad-hatter-s-tea-cups.jpg');
    background-size: cover;
}

.icon-main-street-vehicles {
    background-image: url('../../images/attractions/park/main-street-vehicles/icon/main-street-vehicles.jpg');
    background-size: cover;
}

.icon-mickey-et-son-orchestre-philharmagique {
    background-image: url('../../images/attractions/park/mickey-et-son-orchestre-philharmagique/icon/mickey-et-son-orchestre-philharmagique.jpg');
    background-size: cover;
}

.icon-orbitron {
    background-image: url('../../images/attractions/park/orbitron/icon/orbitron.jpg');
    background-size: cover;
}

.icon-pavillon-des-princesses {
    background-image: url('../../images/attractions/park/pavillon-des-princesses/icon/pavillon-des-princesses.jpg');
    background-size: cover;
}

.icon-peter-pan-s-flight {
    background-image: url('../../images/attractions/park/peter-pan-s-flight/icon/peter-pan-s-flight.jpg');
    background-size: cover;
}

.icon-phantom-manor {
    background-image: url('../../images/attractions/park/phantom-manor/icon/phantom-manor.jpg');
    background-size: cover;
}

.icon-pirates-of-caribbean {
    background-image: url('../../images/attractions/park/pirates-of-caribbean/icon/pirates-of-caribbean.jpg');
    background-size: cover;
}

.icon-rencontre-avec-myckey {
    background-image: url('../../images/attractions/park/rencontre-avec-myckey/icon/rencontre-avec-myckey.jpg');
    background-size: cover;
}

.icon-rustler-roundup-shootin {
    background-image: url('../../images/attractions/park/rustler-roundup-shootin/icon/rustler-roundup-shootin.jpg');
    background-size: cover;
}

.icon-star-wars-hyperspace-mountain {
    background-image: url('../../images/attractions/park/star-wars-hyperspace-mountain/icon/star-wars-hyperspace-mountain.jpg');
    background-size: cover;
}

.icon-star-tours {
    background-image: url('../../images/attractions/park/star-tours/icon/star-tours.jpg');
    background-size: cover;
}

.icon-starport {
    background-image: url('../../images/attractions/park/starport/icon/starport.jpg');
    background-size: cover;
}

.icon-thunder-mesa-riverboat-landing {
    background-image: url('../../images/attractions/park/thunder-mesa-riverboat-landing/icon/thunder-mesa-riverboat-landing.jpg');
    background-size: cover;
}



