/* ***************************************************************************************************** */
/* icon */

.icons-disneylandparis {
    font-family: dlp_pep_font-webfont;
}

.icon-walt-disney-studios::before {
    font-size: 90px;
    line-height: 1.4;
    content: '\e415';
}

.icon-park-disneyland::before {
    font-size: 90px;
    line-height: 1.4;
    content: '\e414';
}

.icon-adventure-isle {
    background-image: url('../../images/attractions/park/adventure-isle/icon/adventure-Isle.jpg');
    background-size: cover;
}

.icon-alice-s-curious-labyrinth {
    background-image: url('../../images/attractions/park/alice-s-curious-labyrinth/icon/alice-s-curious-labyrinth.jpg');
    background-size: cover;
}

.icon-autopia {
    background-image: url('../../images/attractions/park/autopia/icon/autopia.jpg');
    background-size: cover;
}

.icon-big-thunder-mountain {
    background-image: url('../../images/attractions/park/big-thunder-mountain/icon/big-thunder-mountain.jpg');
    background-size: cover;
}

.icon-blanche-neige-et-les-sept-nains {
    background-image: url('../../images/attractions/park/blanche-neige-et-les-sept-nains/icon/blanche-neige-et-les-sept-nains.jpg');
    background-size: cover;
}

.icon-buzz-lightyear-last-blast {
    background-image: url('../../images/attractions/park/buzz-lightyear-last-blast/icon/buzz-lightyear-last-blast.webp');
    background-size: cover;
}

.icon-casy-jr-le-petit-train-du-cirque {
    background-image: url('../../images/attractions/park/casy-jr-le-petit-train-du-cirque/icon/casy-jr-le-petit-train-du-cirque.jpg');
    background-size: cover;
}

.icon-discovery-arcade-main-street-usa {
    background-image: url('../../images/attractions/park/discovery-arcade-main-street-usa/icon/discovery-arcade-main-street-usa.jpg');
    background-size: cover;
}

.icon-disneyland-railroad {
    background-image: url('../../images/attractions/park/disneyland-railroad/icon/disneyland-railroad.jpg');
    background-size: cover;
}

.icon-dumbo-the-flying-elephant {
    background-image: url('../../images/attractions/park/dumbo-the-flying-elephant/icon/dumbo-the-flying-elephant.jpg');
    background-size: cover;
}

.icon-frontierland-playground {
    background-image: url('../../images/attractions/park/frontierland-playground/icon/frontierland-playground.jpg');
    background-size: cover;
}

.icon-horse-drawn-streetcarts {
    background-image: url('../../images/attractions/park/horse-drawn-streetcarts/icon/horse-drawn-streetcarts.jpg');
    background-size: cover;
}

.icon-indiana-jones-et-le-temple-du-peril {
    background-image: url('../../images/attractions/park/indiana-jones-et-le-temple-du-peril/icon/indiana-jones-et-le-temple-du-peril.jpg');
    background-size: cover;
}

.icon-its-a-small-world {
    background-image: url('../../images/attractions/park/its-a-small-world/icon/its-a-small-world.jpg');
    background-size: cover;
}

.icon-la-cabane-des-robinson {
    background-image: url('../../images/attractions/park/la-cabane-des-robinson/icon/la-cabane-des-robinson.jpg');
    background-size: cover;
}

.icon-la-galerie-de-la-belle-au-bois-dormant {
    background-image: url('../../images/attractions/park/la-galerie-de-la-belle-au-bois-dormant/icon/la-galerie-de-la-belle-au-bois-dormant.jpg');
    background-size: cover;
}

.icon-la-plage-des-pirates {
    background-image: url('../../images/attractions/park/la-plage-des-pirates/icon/la-plage-des-pirates.jpg');
    background-size: cover;
}

.icon-la-taniere-du-dragon {
    background-image: url('../../images/attractions/park/la-taniere-du-dragon/icon/la-taniere-du-dragon.jpg');
    background-size: cover;
}

.icon-le-carrousel-de-lancelot {
    background-image: url('../../images/attractions/park/le-carrousel-de-lancelot/icon/le-carrousel-de-lancelot.jpg');
    background-size: cover;
}

.icon-le-chateau-de-la-belle-au-bois-dormant {
    background-image: url('../../images/attractions/park/le-chateau-de-la-belle-au-bois-dormant/icon/le-chateau-de-la-belle-au-bois-dormant.jpg');
    background-size: cover;
}

.icon-le-galion-des-pirates {
    background-image: url('../../images/attractions/park/le-galion-des-pirates/icon/le-galion-des-pirates.jpg');
    background-size: cover;
}

.icon-le-passage-enchante-d-aladdin {
    background-image: url('../../images/attractions/park/le-passage-enchante-d-aladdin/icon/le-passage-enchante-d-aladdin.jpg');
    background-size: cover;
}

.icon-le-pays-des-contes-de-fees {
    background-image: url('../../images/attractions/park/le-pays-des-contes-de-fees/icon/le-pays-des-contes-de-fees.jpg');
    background-size: cover;
}

.icon-les-jardins-feeriques-de-main-street-usa {
    background-image: url('../../images/attractions/park/les-jardins-feeriques-de-main-street-usa/icon/les-jardins-feeriques-de-main-street-usa.jpg');
    background-size: cover;
}

.icon-les-mysteres-du-nautilus {
    background-image: url('../../images/attractions/park/les-mysteres-du-nautilus/icon/les-mysteres-du-nautilus.jpg');
    background-size: cover;
}

.icon-les-voyages-de-pinocchio {
    background-image: url('../../images/attractions/park/les-voyages-de-pinocchio/icon/les-voyages-de-pinocchio.jpg');
    background-size: cover;
}

.icon-liberty-arcade {
    background-image: url('../../images/attractions/park/liberty-arcade/icon/liberty-arcade.jpg');
    background-size: cover;
}

.icon-mad-hatter-s-tea-cups {
    background-image: url('../../images/attractions/park/mad-hatter-s-tea-cups/icon/mad-hatter-s-tea-cups.jpg');
    background-size: cover;
}

.icon-main-street-vehicles {
    background-image: url('../../images/attractions/park/main-street-vehicles/icon/main-street-vehicles.jpg');
    background-size: cover;
}

.icon-mickey-et-son-orchestre-philharmagique {
    background-image: url('../../images/attractions/park/mickey-et-son-orchestre-philharmagique/icon/mickey-et-son-orchestre-philharmagique.jpg');
    background-size: cover;
}

.icon-orbitron {
    background-image: url('../../images/attractions/park/orbitron/icon/orbitron.jpg');
    background-size: cover;
}

.icon-pavillon-des-princesses {
    background-image: url('../../images/attractions/park/pavillon-des-princesses/icon/pavillon-des-princesses.jpg');
    background-size: cover;
}

.icon-peter-pan-s-flight {
    background-image: url('../../images/attractions/park/peter-pan-s-flight/icon/peter-pan-s-flight.jpg');
    background-size: cover;
}

.icon-phantom-manor {
    background-image: url('../../images/attractions/park/phantom-manor/icon/phantom-manor.jpg');
    background-size: cover;
}

.icon-pirates-of-caribbean {
    background-image: url('../../images/attractions/park/pirates-of-caribbean/icon/pirates-of-caribbean.jpg');
    background-size: cover;
}

.icon-meet-mickey {
    background-image: url('../../images/attractions/park/meet-mickey/icon/meet-mickey.jpg');
    background-size: cover;
}

.icon-rustler-roundup-shootin {
    background-image: url('../../images/attractions/park/rustler-roundup-shootin/icon/rustler-roundup-shootin.jpg');
    background-size: cover;
}

.icon-star-wars-hyperspace-mountain {
    background-image: url('../../images/attractions/park/star-wars-hyperspace-mountain/icon/star-wars-hyperspace-mountain.jpg');
    background-size: cover;
}

.icon-star-tours {
    background-image: url('../../images/attractions/park/star-tours/icon/star-tours.jpg');
    background-size: cover;
}

.icon-starport {
    background-image: url('../../images/attractions/park/starport/icon/starport.jpg');
    background-size: cover;
}

.icon-thunder-mesa-riverboat-landing {
    background-image: url('../../images/attractions/park/thunder-mesa-riverboat-landing/icon/thunder-mesa-riverboat-landing.jpg');
    background-size: cover;
}

.icon-disney-dreams {
    background-image: url('../../images/attractions/park/disney-dreams/icon/disney-dreams.jpg');
    background-size: cover;
}

.icon-disney-starts-on-parade {
    background-image: url('../../images/attractions/park/disney-starts-on-parade/icon/disney-starts-on-parade.jpg');
    background-size: cover;
}

.icon-a-million-splashes-of-colours {
    background-image: url('../../images/attractions/park/a-million-splashes-of-colours/icon/a-million-splashes-of-colours.jpg');
    background-size: cover;
}

.icon-disney-electrical-sky-parade {
    background-image: url('../../images/attractions/park/disney-electrical-sky-parade/icon/disney-electrical-sky-parade.jpg');
    background-size: cover;
}

.icon-le-roi-lion {
    background-image: url('../../images/attractions/park/le-roi-lion/icon/le-roi-lion.jpg');
    background-size: cover;
}
.icon-daisy {
    background-image: url('../../images/attractions/park/daisy/icon/daisy.jpg');
    background-size: cover;
}

.icon-donald {
    background-image: url('../../images/attractions/park/donald/icon/donald.jpg');
    background-size: cover;
}

.icon-jafar {
    background-image: url('../../images/attractions/park/jafar/icon/jafar.jpg');
    background-size: cover;
}

.icon-minnie {
    background-image: url('../../images/attractions/park/minnie/icon/minnie.jpg');
    background-size: cover;
}

.icon-mickey {
    background-image: url('../../images/attractions/park/mickey/icon/mickey.jpg');
    background-size: cover;
}
.icon-peter-pan {
    background-image: url('../../images/attractions/park/peter-pan/icon/peter-pan.jpg');
    background-size: cover;
}

.icon-pluto {
    background-image: url('../../images/attractions/park/pluto/icon/pluto.jpg');
    background-size: cover;
}

.icon-stitch {
    background-image: url('../../images/attractions/park/stitch/icon/stitch.jpg');
    background-size: cover;
}

.icon-tic-et-tac {
    background-image: url('../../images/attractions/park/tic-et-tac/icon/tic-et-tac.jpg');
    background-size: cover;
}

.icon-tigrou {
    background-image: url('../../images/attractions/park/tigrou/icon/tigrou.jpg');
    background-size: cover;
}

.icon-tweedle-dee-et-dum {
    background-image: url('../../images/attractions/park/tweedle-dee-et-dum/icon/tweedle-dee-et-dum.jpg');
    background-size: cover;
}

.icon-winnie {
    background-image: url('../../images/attractions/park/winnie/icon/winnie.jpg');
    background-size: cover;
}

.icon-ariel {
    background-image: url('../../images/attractions/park/ariel/icon/ariel.jpg');
    background-size: cover;
}

.icon-aurore {
    background-image: url('../../images/attractions/park/aurore/icon/aurore.jpg');
    background-size: cover;
}

.icon-belle {
    background-image: url('../../images/attractions/park/belle/icon/belle.jpg');
    background-size: cover;
}

.icon-blanche-neige {
    background-image: url('../../images/attractions/park/blanche-neige/icon/blanche-neige.jpg');
    background-size: cover;
}

.icon-cendrillon {
    background-image: url('../../images/attractions/park/cendrillon/icon/cendrillon.jpg');
    background-size: cover;
}

.icon-merida {
    background-image: url('../../images/attractions/park/merida/icon/merida.jpeg');
    background-size: cover;
}

.icon-mulan {
    background-image: url('../../images/attractions/park/mulan/icon/mulan.jpg');
    background-size: cover;
}

.icon-raiponce {
    background-image: url('../../images/attractions/park/raiponce/icon/raiponce.jpg');
    background-size: cover;
}

.icon-tiana {
    background-image: url('../../images/attractions/park/tiana/icon/tiana.jpg');
    background-size: cover;
}

.icon-la-reine-de-coeur {
    background-image: url('../../images/attractions/park/la-reine-de-coeur/icon/la-reine-de-coeur.jpg');
    background-size: cover;
}

.icon-alice {
    background-image: url('../../images/attractions/park/alice/icon/alice.jpg');
    background-size: cover;
}

.icon-mad-hatter {
    background-image: url('../../images/attractions/park/mad-hatter/icon/mad-hatter.jpg');
    background-size: cover;
}

.icon-geppetto {
    background-image: url('../../images/attractions/park/geppetto/icon/geppetto.jpg');
    background-size: cover;
}

.icon-pinocchio {
    background-image: url('../../images/attractions/park/pinocchio/icon/pinocchio.jpg');
    background-size: cover;
}

.icon-max-goof {
    background-image: url('../../images/attractions/park/max-goof/icon/max-goof.jpg');
    background-size: cover;
}

.icon-baloo {
    background-image: url('../../images/attractions/park/baloo/icon/baloo.jpg');
    background-size: cover;
}

.icon-capitaine-crochet {
    background-image: url('../../images/attractions/park/capitaine-crochet/icon/capitaine-crochet.jpg');
    background-size: cover;
}

.icon-mouche {
    background-image: url('../../images/attractions/park/mouche/icon/mouche.jpg');
    background-size: cover;
}

.icon-jack-sparrow {
    background-image: url('../../images/attractions/park/jack-sparrow/icon/jack-sparrow.jpg');
    background-size: cover;
}

.icon-picsou {
    background-image: url('../../images/attractions/park/picsou/icon/picsou.jpg');
    background-size: cover;
}

.icon-la-reine-sorciere {
    background-image: url('../../images/attractions/park/la-reine-sorciere/icon/la-reine-sorciere.jpg');
    background-size: cover;
}

.icon-le-genie {
    background-image: url('../../images/attractions/park/le-genie/icon/le-genie.jpg');
    background-size: cover;
}

.icon-aladdin {
    background-image: url('../../images/attractions/park/aladdin/icon/aladdin.jpg');
    background-size: cover;
}

.icon-jasmine {
    background-image: url('../../images/attractions/park/jasmine/icon/jasmine.jpeg');
    background-size: cover;
}

.icon-le-roi-louie {
    background-image: url('../../images/attractions/park/le-roi-louie/icon/le-roi-louie.jpg');
    background-size: cover;
}

.icon-bourriquet {
    background-image: url('../../images/attractions/park/bourriquet/icon/bourriquet.jpg');
    background-size: cover;
}

.icon-porcinet {
    background-image: url('../../images/attractions/park/porcinet/icon/porcinet.jpg');
    background-size: cover;
}

.icon-timon {
    background-image: url('../../images/attractions/park/timon/icon/timon.jpg');
    background-size: cover;
}

.icon-rafiki {
    background-image: url('../../images/attractions/park/rafiki/icon/rafiki.jpg');
    background-size: cover;
}

.icon-lapin-blanc {
    background-image: url('../../images/attractions/park/lapin-blanc/icon/lapin-blanc.jpg');
    background-size: cover;
}

.icon-coco {
    background-image: url('../../images/attractions/park/coco/icon/coco.jpg');
    background-size: cover;
}

.icon-mirabel {
    background-image: url('../../images/attractions/park/mirabel/icon/mirabel.jpg');
    background-size: cover;
}

.icon-pimprenelle {
    background-image: url('../../images/attractions/park/pimprenelle/icon/pimprenelle.jpg');
    background-size: cover;
}

.icon-paquerette {
    background-image: url('../../images/attractions/park/paquerette/icon/paquerette.jpg');
    background-size: cover;
}

.icon-flora {
    background-image: url('../../images/attractions/park/flora/icon/flora.jpg');
    background-size: cover;
}

.icon-coco-lapin {
    background-image: url('../../images/attractions/park/coco-lapin/icon/coco-lapin.jpg');
    background-size: cover;
}

.icon-vaiana {
    background-image: url('../../images/attractions/park/vaiana/icon/vaiana.jpg');
    background-size: cover;
}

.icon-joie {
    background-image: url('../../images/attractions/park/joie/icon/joie.jpg');
    background-size: cover;
}

.icon-asha {
    background-image: url('../../images/attractions/park/asha/icon/asha.jpg');
    background-size: cover;
}

.icon-nick-wilde {
    background-image: url('../../images/attractions/park/nick-wilde/icon/nick-wilde.jpg');
    background-size: cover;
}

.icon-judy-hopps {
    background-image: url('../../images/attractions/park/judy-hopps/icon/judy-hopps.jpg');
    background-size: cover;
}
