.img-default-header,
.img-find {
  background-image: url('../../images/others/bkg-disneyland-paris-v2.jpg');
  background-position: center center;
  background-size: cover;
}

/* ************************************************************************************** */
/* park disnelyland */

.img-park-park-disneyland {
  background-image: url('../../images/parks/bkg-park-disneyland.webp');
  background-size: cover;
}

.logo-park-disneyland {
  background-image: url('../../images/parks/logo-park-disneyland.svg');
  background-size: 80%;

}

/* ************************************************************************************** */
/* walt disney studio */

.img-park-walt-disney-studios {
  background-image: url('../../images/parks/bkg-walt-disney-studios.webp');
  background-size: cover;
}

.logo-walt-disney-studios {
  background-image: url('../../images/parks/logo-walt-disney-studios.svg');
  background-size: 80%;
}