/* ************************************************************************************** */
/* park disneyland */

.img-adventureland {
    background-image: url('../../images/univers/park/bkg-aventureland.webp');
    background-size: cover;
}

.img-discoveryland {
    background-image: url('../../images/univers/park/bkg-discoveryland.webp');
    background-size: cover;
}

.img-fantasyland {
    background-image: url('../../images/univers/park/bkg-fantasyland.webp');
    background-size: cover;
}

.img-frontierland {
    background-image: url('../../images/univers/park/bkg-frontierland.webp');
    background-size: cover;
}

.img-main-street-usa {
    background-image: url('../../images/univers/park/bkg-main-street-usa.webp');
    background-size: cover;
}

/* ************************************************************************************** */

.icon-adventureland {
    background-image: url('../../images/univers/park/logo-adventureland.png');
    background-size: 70%;
}

.icon-discoveryland {
    background-image: url('../../images/univers/park/logo-discoveryland.png');
    background-size: 70%;
}

.icon-fantasyland {
    background-image: url('../../images/univers/park/logo-fantasyland.png');
    background-size: 70%;
}

.icon-frontierland {
    background-image: url('../../images/univers/park/logo-frontierland.png');
    background-size: 70%;
}

.icon-main-street-usa {
    background-image: url('../../images/univers/park/logo-main-street-usa.png');
    background-size: 50%;
}

/* ************************************************************************************** */
/* walt disney studio */

.img-toon-studio {
    background-image: url('../../images/univers/studio/bkg-toon-studio.webp');
    background-size: cover;
}

.img-avengers-campus {
    background-image: url('../../images/univers/studio/bkg-avengers-campus.webp');
    background-size: cover;
}

.img-worlds-of-pixar {
    background-image: url('../../images/univers/studio/bkg-world-of-Pixar.webp');
    background-size: cover;
}

.img-front-lot {
    background-image: url('../..//images/univers/studio/bkg-front-lot.webp');
    background-size: cover;
}

.img-production-courtyard {
    background-image: url('../../images/univers/studio/bkg-production-courtyard.webp');
    background-size: cover;
}

.icon-avengers-campus {
    background-image: url('../../images/univers/studio/logo-avengers-campus.png');
    background-size: 120%;
}

.icon-front-lot {
    background-image: url('../../images/univers/studio/logo-front-lot.png');
    background-size: 80%;
}

.icon-production-courtyard {
    background-image: url('../../images/univers/studio/logo-production-courtyard.png');
    background-size: 80%;
}

.icon-toon-studio {
    background-image: url('../../images/univers/studio/logo-toon-studio.png');
    background-size: 80%;
}

.icon-worlds-of-pixar {
    background-image: url('../../images/univers/studio/logo-worlds-of-pixar.png');
    background-size: 100%;
}