/* icon walt disney studio */

.icon-animation-academy {
    background-image: url('../../images/attractions/studio/animation-academy/icon/animation-academy.webp');
    background-size: cover;
}

.icon-avengers-assemble-flight-force {
    background-image: url('../../images/attractions/studio/avengers-assemble-flight-force/icon/avengers-assemble-flight-force.jpg');
    background-size: cover;
}

.icon-cars-quatre-roues-rally {
    background-image: url('../../images/attractions/studio/cars-quatre-roues-rally/icon/cars-quatre-roues-rally.jpg');
    background-size: cover;
}

.icon-cars-road-trip {
    background-image: url('../../images/attractions/studio/cars-road-trip/icon/cars-road-trip.jpg');
    background-size: cover;
}

.icon-crush-s-coaster {
    background-image: url('../../images/attractions/studio/crush-s-coaster/icon/crush-s-coaster.jpg');
    background-size: cover;
}

.icon-disney-studio-1 {
    background-image: url('../../images/attractions/studio/disney-studio-1/icon/disney-studio-1.webp');
    background-size: cover;
}

.icon-les-tapis-volants-d-aladdin {
    background-image: url('../../images/attractions/studio/les-tapis-volants-d-aladdin/icon/les-tapis-volants-d-aladdin.jpg');
    background-size: cover;
}

.icon-ratatouille {
    background-image: url('../../images/attractions/studio/ratatouille/icon/ratatouille.jpg');
    background-size: cover;
}

.icon-rc-racer {
    background-image: url('../../images/attractions/studio/rc-racer/icon/rc-racer.jpg');
    background-size: cover;
}

.icon-slinky-dog-zigzag-spin {
    background-image: url('../../images/attractions/studio/slinky-dog-zigzag-spin/icon/slinky-dog-zigzag-spin.jpg');
    background-size: cover;
}

.icon-spider-man-web-adventure {
    background-image: url('../../images/attractions/studio/spider-man-web-adventure/icon/spider-man-web-adventure.webp');
    background-size: cover;
}

.icon-the-twilight-zone-tower-of-terror {
    background-image: url('../../images/attractions/studio/the-twilight-zone-tower-of-terror/icon/the-twilight-zone-of-tower-of-terror.webp');
    background-size: cover;
}

.icon-toy-soldiers-parachutes-drop {
    background-image: url('../../images/attractions/studio/toy-soldiers-parachutes-drop/icon/toy-soldiers-parachutes-drop.jpg');
    background-size: cover;
}

.icon-together-a-pixar-musical-adventure {
    background-image: url('../../images/attractions/studio/together-a-pixar-musical-adventure/icon/together-a-pixar-musical-adventure.jpg');
    background-size: cover;
}

.icon-avengers-power-the-night {
    background-image: url('../../images/attractions/studio/avengers-power-the-night/icon/avengers-power-the-night.jpg');
    background-size: cover;
}

.icon-stitch-live {
    background-image: url('../../images/attractions/studio/stitch-live/icon/stitch-live.jpg');
    background-size: cover;
}

.icon-the-disney-junior-dream-factory {
    background-image: url('../../images/attractions/studio/the-disney-junior-dream-factory/icon/the-disney-junior-dream-factory.jpg');
    background-size: cover;
}

.icon-animation-celebration-frozen {
    background-image: url('../../images/attractions/studio/animation-celebration-frozen/icon/animation-celebration-frozen.jpg');
    background-size: cover;
}

.icon-mickey-and-the-magician {
    background-image: url('../../images/attractions/studio/mickey-and-the-magician/icon/mickey-and-the-magician.jpg');
    background-size: cover;
}

.icon-hero-training-center {
    background-image: url('../../images/attractions/studio/hero-training-center/icon/hero-training-center.jpg');
    background-size: cover;
}

.icon-buzz-lightyear {
    background-image: url('../../images/attractions/studio/buzz-lightyear/icon/buzz-lightyear.jpg');
    background-size: cover;
}

.icon-dingo {
    background-image: url('../../images/attractions/studio/dingo/icon/dingo.jpg');
    background-size: cover;
}

.icon-jessie {
    background-image: url('../../images/attractions/studio/jessie/icon/jessie.jpg');
    background-size: cover;
}

.icon-woody {
    background-image: url('../../images/attractions/studio/woody/icon/woody.jpg');
    background-size: cover;
}

.icon-frozen-anna {
    background-image: url('../../images/attractions/studio/frozen-anna/icon/frozen-anna.jpg');
    background-size: cover;
}

.icon-frozen-elsa {
    background-image: url('../../images/attractions/studio/frozen-elsa/icon/frozen-elsa.jpg');
    background-size: cover;
}

.icon-frozen-kristoff {
    background-image: url('../../images/attractions/studio/frozen-kristoff/icon/frozen-kristoff.jpg');
    background-size: cover;
}

.icon-frozen-olaf {
    background-image: url('../../images/attractions/studio/frozen-olaf/icon/frozen-olaf.jpg');
    background-size: cover;
}

.icon-mary-poppins {
    background-image: url('../../images/attractions/studio/mary-poppins/icon/mary-poppins.jpg');
    background-size: cover;
}

.icon-bert {
    background-image: url('../../images/attractions/studio/bert/icon/bert.jpg');
    background-size: cover;
}

.icon-les-pingouins {
    background-image: url('../../images/attractions/studio/les-pingouins/icon/les-pingouins.jpg');
    background-size: cover;
}

.icon-sulli {
    background-image: url('../../images/attractions/studio/sulli/icon/sulli.jpg');
    background-size: cover;
}

.icon-bob {
    background-image: url('../../images/attractions/studio/bob/icon/bob.jpg');
    background-size: cover;
}

.icon-marvel-ant-man {
    background-image: url('../../images/attractions/studio/marvel-ant-man/icon/marvel-ant-man.jpg');
    background-size: cover;
}

.icon-marvel-black-panther {
    background-image: url('../../images/attractions/studio/marvel-black-panther/icon/marvel-black-panther.jpg');
    background-size: cover;
}

.icon-marvel-captain-marvel {
    background-image: url('../../images/attractions/studio/marvel-captain-marvel/icon/marvel-captain-marvel.jpg');
    background-size: cover;
}

.icon-marvel-captain-america {
    background-image: url('../../images/attractions/studio/marvel-captain-america/icon/marvel-captain-america.jpg');
    background-size: cover;
}

.icon-marvel-crane-rouge {
    background-image: url('../../images/attractions/studio/marvel-crane-rouge/icon/marvel-crane-rouge.jpg');
    background-size: cover;
}

.icon-marvel-docteur-strange {
    background-image: url('../../images/attractions/studio/marvel-docteur-strange/icon/marvel-docteur-strange.jpg');
    background-size: cover;
}

.icon-marvel-gamora {
    background-image: url('../../images/attractions/studio/marvel-gamora/icon/marvel-gamora.jpg');
    background-size: cover;
}

.icon-marvel-groot {
    background-image: url('../../images/attractions/studio/marvel-groot/icon/marvel-groot.jpg');
    background-size: cover;
}

.icon-marvel-hulk {
    background-image: url('../../images/attractions/studio/marvel-hulk/icon/marvel-hulk.jpg');
    background-size: cover;
}

.icon-marvel-iron-man {
    background-image: url('../../images/attractions/studio/marvel-iron-man/icon/marvel-iron-man.jpg');
    background-size: cover;
}

.icon-marvel-la-guepe {
    background-image: url('../../images/attractions/studio/marvel-la-guepe/icon/marvel-la-guepe.jpeg');
    background-size: cover;
}

.icon-marvel-la-sorciere-rouge {
    background-image: url('../../images/attractions/studio/marvel-la-sorciere-rouge/icon/marvel-la-sorciere-rouge.jpg');
    background-size: cover;
}

.icon-marvel-la-veuve-noire {
    background-image: url('../../images/attractions/studio/marvel-la-veuve-noire/icon/marvel-la-veuve-noire.jpg');
    background-size: cover;
}

.icon-marvel-loki {
    background-image: url('../../images/attractions/studio/marvel-loki/icon/marvel-loki.jpeg');
    background-size: cover;
}

.icon-marvel-spiderman {
    background-image: url('../../images/attractions/studio/marvel-spiderman/icon/marvel-spiderman.jpeg');
    background-size: cover;
}

.icon-marvel-star-lord {
    background-image: url('../../images/attractions/studio/marvel-star-lord/icon/marvel-star-lord.jpg');
    background-size: cover;
}

.icon-marvel-thor {
    background-image: url('../../images/attractions/studio/marvel-thor/icon/marvel-thor.jpg');
    background-size: cover;
}
