/* icon walt disney studio */

.icon-animation-academy {
    background-image: url('../../images/attractions/studio/animation-academy/icon/animation-academy.webp');
}

.icon-avengers-assemble-flight-force {
    background-image: url('../../images/attractions/studio/avengers-assemble-flight-force/icon/avengers-assemble-flight-force.jpg');
}

.icon-cars-quatre-roues-rally {
    background-image: url('../../images/attractions/studio/cars-quatre-roues-rally/icon/cars-quatre-roues-rally.jpg');
}




.icon-spider-man-web-aventure {
    background-image: url('../../images/attractions/studio/logo-spider-man-web-aventure.png');
}

.icon-disney-studio-1 {
    background-image: url('../../images/attractions/studio/img-disney-studio-1.jpg');
}

.icon-the-twilight-zone-tower-of-terror {
    background-image: url('../../images/attractions/studio/img-the-twilight-zone-tower-of-terror.webp');
}

.icon-les-tapis-volants {
    background-image: url('../../images/attractions/studio/img-les-tapis-volants.jpg');
}

.icon-cars-road-trip {
    background-image: url('../../images/attractions/studio/img-cars-road-trip.jpg');
}

.icon-crush-s-coaster {
    background-image: url('../../images/attractions/studio/img-crush-s-coaster.jpg');
}

.icon-rc-racer {
    background-image: url('../../images/attractions/studio/img-rc-racer.webp');
}

.icon-ratatouille {
    background-image: url('../../images/attractions/studio/img-ratatouille.jpg');
}

.icon-slinky-dog-zigzag-spin {
    background-image: url('../../images/attractions/studio/img-slinky-dog-zigzag-spin.jpg');
}

.icon-toy-soldiers-parachutes-drop {
    background-image: url('../../images/attractions/studio/img-toy-soldiers-parachutes-drop.png');
}

