/* ***************************************************************************************************** */
/* park disneyland */

.logo-adventure-isle {
    background-image: url('../../assets/images/attractions/park/bkg-adventure-isle.webp');
    background-size: 200%;
    background-position: top 0px left -30px;
}

.logo-big-thunder-mountain {
    background-image: url('../../assets/images/attractions/park/img-big-thunder-mountain.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-indiana-jones-et-le-temple-du-peril {
    background-image: url('../../assets/images/attractions/park/indiana-jones-et-le-temple-du-peril.avif');
    background-size: cover;
    background-position: center center;
}

.logo-la-cabane-des-robinson {
    background-image: url('../../assets/images/attractions/park/img-la-cabane-des-robinson.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-le-galion-des-pirates {
    background-image: url('../../assets/images/attractions/park/img-le-galion-des-pirates.webp');
    background-size: cover;
    background-position: center center;
}

.logo-la-plage-des-pirates {
    background-image: url('../../assets/images/attractions/park/img-la-plage-des-pirates.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-le-passage-enchant-d-aladdin {
    background-image: url('../../assets/images/attractions/park/img-le-passage-enchant-d-aladdin.webp');
    background-size: cover;
    background-position: center center;
}

.logo-pirates-of-caribbean {
    background-image: url('../../assets/images/attractions/park/img-pirates-of-caribbean.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-start-tours {
    background-image: url('../../assets/images/attractions/park/img-start-tours.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-autopia {
    background-image: url('../../assets/images/attractions/park/img-autopia.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-buzz-lightyear-last-blast {
    background-image: url('../../assets/images/attractions/park/img-buzz-lightyear-last-blast.webp');
    background-size: cover;
    background-position: center center;
}

.logo-les-mysteres-du-nautilus {
    background-image: url('../../assets/images/attractions/park/img-les-mysteres-du-nautilus.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-mickey-et-son-orchestre-philharmagique {
    background-image: url('../../assets/images/attractions/park/img-mickey-et-son-orchestre-philharmagique.webp');
    background-size: cover;
    background-position: center center;
}

.logo-orbitron {
    background-image: url('../../assets/images/attractions/park/img-orbitron.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-star-wars-hyperspace-mountain {
    background-image: url('../../assets/images/attractions/park/img-star-wars-hyperspace-mountain.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-startport {
    background-image: url('../../assets/images/attractions/park/img-startport.webp');
    background-size: cover;
    background-position: center center;
}

.logo-alice-s-curious-labyrinth {
    background-image: url('../../assets/images/attractions/park/img-alice-s-curious-labyrinth.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-blanche-neige-et-les-sept-nains {
    background-image: url('../../assets/images/attractions/park/img-blanche-neige-et-les-sept-nains.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-dumbo-the-flying-elephant {
    background-image: url('../../assets/images/attractions/park/img-dumbo-the-flying-elephant.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-its-a-small-world {
    background-image: url('../../assets/images/attractions/park/img-its-a-small-world.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-la-galerie-de-la-belle-au-bois-dormant {
    background-image: url('../../assets/images/attractions/park/img-la-galerie-de-la-belle-au-bois-dormant.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-la-taniere-du-dragon {
    background-image: url('../../assets/images/attractions/park/img-la-taniere-du-dragon.webp');
    background-size: cover;
    background-position: center center;
}

.logo-le-carrousel-de-lancelot {
    background-image: url('../../assets/images/attractions/park/img-le-carrousel-de-lancelot.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-le-chateau-de-la-belle-au-bois-dormant {
    background-image: url('../../assets/images/attractions/park/img-le-chateau-de-la-belle-au-bois-dormant.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-le-pays-des-contes-de-fees {
    background-image: url('../../assets/images/attractions/park/img-le-pays-des-contes-de-fees.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-les-voyages-de-pinocchio {
    background-image: url('../../assets/images/attractions/park/img-les-voyages-de-pinocchio.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-mad-hatter-s-tea-cups {
    background-image: url('../../assets/images/attractions/park/img-mad-hatter-s-tea-cups.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-pavillon-des-princesses {
    background-image: url('../../assets/images/attractions/park/img-pavillon-des-princesses.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-peter-pan-s-flight {
    background-image: url('../../assets/images/attractions/park/img-peter-pan-s-flight.webp');
    background-size: cover;
    background-position: center center;
}

.logo-rencontre-avec-myckey {
    background-image: url('../../assets/images/attractions/park/img-rencontre-avec-myckey.webp');
    background-size: cover;
    background-position: center center;
}

.logo-casy-jr-le-petit-train-du-cirque {
    background-image: url('../../assets/images/attractions/park/img-casy-jr-le-petit-train-du-cirque.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-frontierland-playground {
    background-image: url('../../assets/images/attractions/park/img-frontierland-playground.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-phantom-manor {
    background-image: url('../../assets/images/attractions/park/img-phantom-manor.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-rustler-roundup-shootin {
    background-image: url('../../assets/images/attractions/park/img-rustler-roundup-shootin.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-thunder-mesa-riverboat-landing {
    background-image: url('../../assets/images/attractions/park/img-thunder-mesa-riverboat-landing.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-discovery-arcade-main-street-usa {
    background-image: url('../../assets/images/attractions/park/img-discovery-arcade-main-street-usa.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-disneyland-railroad {
    background-image: url('../../assets/images/attractions/park/img-disneyland-railroad.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-horse-drawn-streetcarts {
    background-image: url('../../assets/images/attractions/park/img-horse-drawn-streetcarts.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-les-jardins-feeriques-de-main-street-usa {
    background-image: url('../../assets/images/attractions/park/img-les-jardins-feeriques-de-main-street-usa.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-liberty-arcade {
    background-image: url('../../assets/images/attractions/park/img-liberty-arcade.jpg');
    background-size: cover;
    background-position: center center;
}

.logo-main-street-vehicles {
    background-image: url('../../assets/images/attractions/park/img-main-street-vehicles.jpg');
    background-size: cover;
    background-position: center center;
}

/* ***************************************************************************************************** */

.img-adventure-isle {
    background-image: url('../../assets/images/attractions/park/img-adventure-isle.jpeg');
}

.img-indiana-jones-et-le-temple-du-peril {
    background-image: url('../../assets/images/attractions/park/indiana-jones-et-le-temple-du-peril.avif');
}

.img-la-cabane-des-robinson {
    background-image: url('../../assets/images/attractions/park/img-la-cabane-des-robinson.jpg');
}

.img-le-galion-des-pirates {
    background-image: url('../../assets/images/attractions/park/img-le-galion-des-pirates.webp');
}

.img-la-plage-des-pirates {
    background-image: url('../../assets/images/attractions/park/img-la-plage-des-pirates.jpg');
}

.img-le-passage-enchant-d-aladdin {
    background-image: url('../../assets/images/attractions/park/img-le-passage-enchant-d-aladdin.webp');
}

.img-pirates-of-caribbean {
    background-image: url('../../assets/images/attractions/park/img-pirates-of-caribbean.jpg');
}

.img-start-tours {
    background-image: url('../../assets/images/attractions/park/img-start-tours.jpg');
}

.img-autopia {
    background-image: url('../../assets/images/attractions/park/img-autopia.jpg');
}

.img-buzz-lightyear-last-blast {
    background-image: url('../../assets/images/attractions/park/img-buzz-lightyear-last-blast.webp');
}

.img-les-mysteres-du-nautilus {
    background-image: url('../../assets/images/attractions/park/img-les-mysteres-du-nautilus.jpg');
}

.img-mickey-et-son-orchestre-philharmagique {
    background-image: url('../../assets/images/attractions/park/img-mickey-et-son-orchestre-philharmagique.webp');
}

.img-orbitron {
    background-image: url('../../assets/images/attractions/park/img-orbitron.jpg');
}

.img-star-wars-hyperspace-mountain {
    background-image: url('../../assets/images/attractions/park/img-star-wars-hyperspace-mountain.jpg');
}

.img-startport {
    background-image: url('../../assets/images/attractions/park/img-startport.webp');
}

.img-alice-s-curious-labyrinth {
    background-image: url('../../assets/images/attractions/park/img-alice-s-curious-labyrinth.jpg');
}

.img-blanche-neige-et-les-sept-nains {
    background-image: url('../../assets/images/attractions/park/img-blanche-neige-et-les-sept-nains.jpg');
}

.img-dumbo-the-flying-elephant {
    background-image: url('../../assets/images/attractions/park/img-dumbo-the-flying-elephant.jpg');
}

.img-its-a-small-world {
    background-image: url('../../assets/images/attractions/park/img-its-a-small-world.jpg');
}

.img-la-galerie-de-la-belle-au-bois-dormant {
    background-image: url('../../assets/images/attractions/park/img-la-galerie-de-la-belle-au-bois-dormant.jpg');
}

.img-la-taniere-du-dragon {
    background-image: url('../../assets/images/attractions/park/img-la-taniere-du-dragon.webp');
}

.img-le-carrousel-de-lancelot {
    background-image: url('../../assets/images/attractions/park/img-le-carrousel-de-lancelot.jpg');
}

.img-le-chateau-de-la-belle-au-bois-dormant {
    background-image: url('../../assets/images/attractions/park/img-le-chateau-de-la-belle-au-bois-dormant.jpg');
}

.img-le-pays-des-contes-de-fees {
    background-image: url('../../assets/images/attractions/park/img-le-pays-des-contes-de-fees.jpg');
}

.img-les-voyages-de-pinocchio {
    background-image: url('../../assets/images/attractions/park/img-les-voyages-de-pinocchio.jpg');
}

.img-mad-hatter-s-tea-cups {
    background-image: url('../../assets/images/attractions/park/img-mad-hatter-s-tea-cups.jpg');
}

.img-pavillon-des-princesses {
    background-image: url('../../assets/images/attractions/park/img-pavillon-des-princesses.jpg');
}

.img-peter-pan-s-flight {
    background-image: url('../../assets/images/attractions/park/img-peter-pan-s-flight.webp');
}

.img-rencontre-avec-myckey {
    background-image: url('../../assets/images/attractions/park/img-rencontre-avec-myckey.webp');
}

.img-casy-jr-le-petit-train-du-cirque {
    background-image: url('../../assets/images/attractions/park/img-casy-jr-le-petit-train-du-cirque.jpg');
}

.img-big-thunder-mountain {
    background-image: url('../../assets/images/attractions/park/img-big-thunder-mountain.jpg');
}

.img-frontierland-playground {
    background-image: url('../../assets/images/attractions/park/img-frontierland-playground.jpg');
}

.img-phantom-manor {
    background-image: url('../../assets/images/attractions/park/img-phantom-manor.jpg');
}

.img-rustler-roundup-shootin {
    background-image: url('../../assets/images/attractions/park/img-rustler-roundup-shootin.jpg');
}

.img-thunder-mesa-riverboat-landing {
    background-image: url('../../assets/images/attractions/park/img-thunder-mesa-riverboat-landing.jpg');
}

.img-discovery-arcade-main-street-usa {
    background-image: url('../../assets/images/attractions/park/img-discovery-arcade-main-street-usa.jpg');
}

.img-disneyland-railroad {
    background-image: url('../../assets/images/attractions/park/img-disneyland-railroad.jpg');
}

.img-horse-drawn-streetcarts {
    background-image: url('../../assets/images/attractions/park/img-horse-drawn-streetcarts.jpg');
}

.img-les-jardins-feeriques-de-main-street-usa {
    background-image: url('../../assets/images/attractions/park/img-les-jardins-feeriques-de-main-street-usa.jpg');
}

.img-liberty-arcade {
    background-image: url('../../assets/images/attractions/park/img-liberty-arcade.jpg');
}

.img-main-street-vehicles {
    background-image: url('../../assets/images/attractions/park/img-main-street-vehicles.jpg');
}

