.attraction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.attraction .description {
    width: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
}
.attraction .description h1 {
    font-size: 2rem;
    margin: 0 0 20px 0;
}
.attraction .description p {
    font-size: 1rem;
}
.attraction .description .logo {
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 40px 40px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px  rgb(0, 0, 0, 0.2);
    overflow: hidden;
}
.attraction .description .univers {
    width: 200px;
    height: 200px;
    margin: 0 40px 40px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px  rgb(0, 0, 0, 0.2);
    overflow: hidden;
}
.attraction .description .list-infos {
    float: left;
    width: 220px;
    margin: 0 30px 30px 0;
}
.attraction .description .list-infos .total {
    float: left;
    width: 100%;
    margin: 0 40px 30px 0;
}
.attraction .description .list-infos .total .tt {
    background: #000;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px 0 0;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}
.attraction .description .list-infos .total .legend {
    float: left;
    font-size: 2rem;
    font-weight: bold;
}
.attraction .description .list-infos .list {
    float: left;
    margin: 0 0 0 15px;
    padding: 0;
}
.attraction .description .list-infos .list li {
    margin: 0;
    padding: 10px 0 0 0;
    list-style: inside disc;
}
.attraction .description .infos {
    width: 100%;
    margin: 0 0 50px 0;
}
