@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/lato/Lato-Regular.ttf');
}
@font-face {
  font-family: 'DisneyScript';
  src: url('./assets/fonts/All_Disney_Fonts/Disney/DisneyScript.ttf');
}
@font-face {
  font-family: 'LibreFranklin';
  src: url('./assets/fonts/LibreFranklin-ExtraBold.ttf');
}

@font-face {
  font-family: 'Waltograph42';
  src: url('./assets/fonts/All_Disney_Fonts/Waltograph/Waltograph42.ttf');
}

/* **************************************************************** */

@keyframes zoom {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* **************************************************************** */

@media screen and (max-width: 600px) {
  .slider {
    display: block;
  }
  .navigation .nav {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .slider {
    display: none;
  }
  .bkg-default-header {
    background-position: center top;
  }
  .header {
    height: clamp(300px, 50vh, 500px);
  }
  .search {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 801px) {
  .slider {
    display: none;
  }
  .bkg-default-header {
    background-position: center top;
  }
  .header {
    height: clamp(400px, 80vh, 600px);
  }
  .search {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .slider {
    display: none;
  }
  .bkg-default-header {
    background-position: center -200px;
  }
  
}

/* ****************************************************************** */
/* parks */

.bkg-default-header {
  background-image: url('./assets/images/others/bkg-disneyland-paris-v2.jpg');
}
.park-park-disneyland {
  background-image: url('./assets/images/parks/park-disneyland.webp');
}
.park-walt-disney-studios {
  background-image: url('./assets/images/parks/walt-disney-studios.webp');
}

/* ****************************************************************** */
/* univers */

.adventureland {
  background-image: url('./assets/images/univers/aventureland.webp');
}
.discoveryland {
  background-image: url('./assets/images/univers/discoveryland.webp');
}
.fantasyland {
  background-image: url('./assets/images/univers/fantasyland.webp');
}
.frontierland {
  background-image: url('./assets/images/univers/frontierland.webp');
}
.main-street-usa {
  background-image: url('./assets/images/univers/main-street-usa.webp');
}
.toon-studio {
  background-image: url('./assets/images/univers/toon-studio.webp');
}
.avengers-campus {
  background-image: url('./assets/images/univers/avengers-campus.webp');
}
.worlds-of-pixar {
  background-image: url('./assets/images/univers/world-of-Pixar.webp');
}
.front-lot {
  background-image: url('./assets//images/univers/front-lot.webp');
}
.production-courtyard {
  background-image: url('./assets/images/univers/production-courtyard.webp');
}

/* **************************************************************** */

.loader {
  background: #fc3;
  position: absolute;
  bottom: 20px;
  left: 48%;
  z-index: 1000;
  width: 40px;
  height: 30px;
  padding: 4px 2px 5px 2px;
  border-radius: 5px;
  text-align: center
}

.loader i {
  display: block;
  font-size: 2em;
  line-height: 1;
  color: #000;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

/* ************************************************************************* */

body {
  background: #161616;
  padding: 0;
}

.main {
  position: relative;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.texte {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}