@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'DisneyScript';
  src: url('./assets/fonts/All_Disney_Fonts/Disney/DisneyScript.ttf');
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./assets/fonts/LibreFranklin-ExtraBold.ttf');
}

@font-face {
  font-family: 'Waltograph42';
  src: url('./assets/fonts/All_Disney_Fonts/Waltograph/Waltograph42.ttf');
}

/* **************************************************************** */

@keyframes zoom {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}


/* **************************************************************** */

@media screen and (max-width: 600px) {
  .slider {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 90px;
    left: 0px;
    z-index: 1;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .nav-childs {
    position: relative;
  }
}

@media screen and (min-width: 601px) {
  .slider {
    display: none;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .nav-childs {
    position: absolute;
    top: 40px;
    left: 0px;
  }

  .bkg-default-header {
    background-position: center top;
  }

  .header {
    height: clamp(300px, 50vh, 500px);
  }

  .search {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 801px) {
  .slider {
    display: none;
  }

  .bkg-default-header {
    background-position: center top;
  }

  .header {
    height: clamp(300px, 80vh, 600px);
  }

  .search {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .slider {
    display: none;
  }

  .bkg-default-header {
    background-position: center -200px;
    background-repeat: no-repeat;
  }

}

/* ************************************************************************* */

body {
  background: #161616;
  padding: 0;
}

.main {
  position: relative;
  background: #FFF;
  width: 100%;
  margin: 0 auto;
}