/* hide header public */
.img-admin,
.img-administrator,
.img-attraction,
.img-evacuation,
.img-handicap,
.img-height,
.img-interest,
.img-park,
.img-sensory,
.img-univers,
.img-user {
  display: none;
}

.admin {
  float: left;
  width: 100%;
  padding: 90px 20px 20px 20px;
  box-sizing: border-box;
  font-family: 'InspireTWDC', 'Helvetica', 'Arial', 'sans-serif';
}

.admin .navigation {
  background: #888;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: none;
}

.admin .link {
  font-size: 1.1rem;
  color: #FFF;
  text-decoration: none;
  text-wrap: wrap;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

.admin .link:hover {
  background: #FFF;
  color: #000;
}

.admin .active {
  background: #FFF;
  color: #000;
}

.admin .title {
  font-weight: bold;
  padding: 0 0 30px 0;
}

.admin .title span {
  padding: 0 0 0 10px;
}

.admin .thead,
.admin .rows {
  float: left;
  width: 100%;
  padding: 10px 0;
}

.admin .rows {
  border-top: solid 1px #555;
}

.admin .thead .id,
.admin .thead .item,
.admin .rows .id,
.admin .rows .item {
  float: left;
}

.admin .thead .id,
.admin .thead .item {
  font-weight: bold;
}

.admin .thead .id,
.admin .rows .id {
  width: 40px;
  text-align: center;
}

.admin .thead .item,
.admin .rows .item {
  min-width: 250px;
  text-align: left;
}


.admin .btn,
.admin .form-btn {
  display: block;
  float: right;
  text-align: center;
}

.admin .btn .button,
.admin .form-btn .button {
  background: #888;
  border: none;
  display: block;
  float: right;
  width: auto;
  margin: 0 0 0 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.admin .btn .button:hover,
.admin .form-btn .button:hover {
  background: #353535;
}