.admin .form {
    max-width: 300px;
}

.admin .form legend span {
    padding: 0 0 0 10px;
}

.admin .form .item,
.admin .form label,
.admin .form input[type="text"],
.admin .form input[type="textarea"],
.admin .form select {
    float: left;
    width: 100%;
}

.admin .form .item {
    margin: 0 0 10px 0;
}

.admin .form label {
    margin: 0 0 5px 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.admin .form input[type="text"],
.admin .form input[type="textarea"] {
    padding: 5px;
    box-sizing: border-box;
}

.admin .form .list-checkbox {
    float: left;
    width: 100%;
    text-align: left;
}

.admin .form .list-checkbox input[type="checkbox"] {
    float: left;
}

.admin .form .list-checkbox label {
    float: none;
    font-weight: normal;
}
.admin .form select {
    padding: 5px;
}